body {
  padding: 0;
  margin: 0
}

#unity-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #5AA784
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-logo {
  width: 30%;
  height: 50%;
  background: url('Loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}

#unity-progress-bar-empty {
  width: 100%;
  height: 3%;
  margin-top: 10px;
  background: url('progress-bar-empty-dark2.png') no-repeat center
}

#unity-progress-bar-full {
  width: 0%;
  height: 100%;
  margin-top: 10px;
  background: url('progress-bar-full-dark2.png') no-repeat center
}

#unity-wait {
  width: 100%;
  height: 35%;
  background: url('wait.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  margin: 0 auto;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none
}
