body {
  padding: 0;
  margin: 0
}

#unity-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #5AA784;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;

  width: 50%;
  height: 50%;
}

#unity-logo {
  background: url('unity-logo.gif') no-repeat center;
  width: 30%;
  height: 50%;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}

#unity-progress-bar-empty {
  position: relative;
  width: 100%;
  height: 3%;
  background: url('progress-bar-empty.png') no-repeat center
}

#unity-progress-bar-full {
  position: absolute;
  width: 0%;
  height: 100%;
  background: url('progress-bar-full.png') no-repeat center
}

#unity-wait {
  background: url('wait.png') no-repeat center;
  width: 80%;
  height: 25%;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none
}
